body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}


.news__list li{
    display: grid;
	grid-template-columns: repeat(3, minmax(150px, 1fr));
	grid-gap: 20px;
	align-content: center;
    margin-left: 50px;
	border-top: 8px solid green;
    /* border: 1px solid grey; */
	border-radius: 5px;
	padding: .5reml;
	box-shadow: 1px 1px 1px 1px grey;
} 

.news__item{
    font-weight: bold;
}

.news h2{
    text-align: center;
}

.news__list {
    display: grid;
	grid-template-columns: repeat(3, minmax(150px, 1fr));
	grid-gap: 20px;
	align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}


.news__list img  {
	max-width: 100px;

	
}


